<mat-toolbar color="primary">
    <button mat-raised-button (click)="goBack()">Back</button>
</mat-toolbar>

<mat-card class="task-details__wrapper">
    <mat-card-header class="task-details__header">
        <mat-card-title>Edit Task</mat-card-title>
    </mat-card-header>
    <mat-card-content class="task-details__content">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Task description</mat-label>
                <input matInput type="text" placeholder="Enter task description" formControlName="description">
                <mat-error *ngIf="description.invalid">Description is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Assignee</mat-label>
                <mat-select formControlName="assigneeId">
                    <mat-option *ngFor="let user of users$ | async" [value]="user?.id">{{ user?.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="assigneeId.invalid">Assignee is required</mat-error>
            </mat-form-field>

            <mat-checkbox name="completed" formControlName="completed">Completed</mat-checkbox>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="warn" (click)="goBack()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    </mat-card-actions>
</mat-card>