<mat-toolbar color="primary">
    <h1>Tasks</h1>
</mat-toolbar>

<mat-card class="mat-elevation-z tasks-list__wrapper">
    <mat-card-content class="tasks-list__content">
        <mat-accordion class="tasks-list__filter">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>filter_list</mat-icon> Filter
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="queryForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput type="text" placeholder="Search by task description"
                            formControlName="description">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <span class="spacing-flex"></span>
                    <mat-form-field appearance="outline">
                        <mat-label>Assignee</mat-label>
                        <mat-select formControlName="assigneeId" multiple="true">
                            <mat-option *ngFor="let user of users$ | async" [value]="user?.id">{{ user?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox name="completed" formControlName="completed">Completed</mat-checkbox>
                    <button mat-icon-button [matTooltip]="'Reset Filter'" (click)="resetFilter()" type="reset"
                        color="warn">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </form>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="tasks-list__content__wrapper">
            <mat-progress-bar class="tasks-list__loading" mode="indeterminate" value="40"
            *ngIf="(getTasksLoading$ | async) === true;"></mat-progress-bar>

            <ng-container *ngIf="(tasks$ | async) as tasks">
                <div class="tasks-list__item" *ngFor="let task of tasks"
                    [ngClass]="{ 'tasks-list__item--completed': task.completed }">
                    <div class="tasks-list__item__content">
                        <p class="tasks-list__item__description">
                            <mat-checkbox (change)="completeTask($event, task.id)" [checked]="task.completed">
                            </mat-checkbox>
                            {{ task.description }}
                        </p>
                        <p><i>Assignee: {{ (userEntities$ | async)?.[task.assigneeId]?.name || 'N/A' }}</i></p>
                    </div>
                    <div class="tasks-list__item__actions">
                        <a [routerLink]="['/tasks/', task.id]" mat-icon-button color="default" matTooltip="View Details">
                            <mat-icon>navigate_next</mat-icon>
                        </a>
                    </div>
                </div>
            </ng-container>

            <div class="tasks-list__new">
                <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" #taskFormDirective="ngForm" class="tasks-list__new__form">
                        <mat-form-field appearance="outline">
                            <mat-label>Task description</mat-label>
                            <input matInput type="text" placeholder="Enter task description"
                                formControlName="description">
                            <mat-error *ngIf="description.invalid">Description is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Assignee</mat-label>
                            <mat-select formControlName="assigneeId">
                                <mat-option *ngFor="let user of users$ | async" [value]="user?.id">{{ user?.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="assigneeId.invalid">Assignee is required</mat-error>
                        </mat-form-field>

                        <div class="tasks-list__new__actions">
                            <button mat-flat-button color="primary">
                                Add
                                <mat-icon>done</mat-icon>
                            </button>
                        </div>
                </form>
            </div>
        </div>

    </mat-card-content>
</mat-card>