@mixin form-line() {
    form {
        .mat-form-field {
            display: block;
        }
    }
}

@mixin checkbox-layout() {
    .mat-checkbox {
        .mat-checkbox-layout {
            margin: $spacing-xs 0;
        }
    }
}

@mixin container() {
    display: block;
    max-width: 500px;
    margin: 1.5rem auto;
}