@use '@angular/material' as mat;

@mixin form-line() {
    form {
        .mat-form-field {
            display: block;
        }
    }
}

@mixin checkbox-layout() {
    .mat-checkbox {
        .mat-checkbox-layout {
            margin: $spacing-xs 0;
        }
    }
}

@mixin container() {
    display: block;
    max-width: 500px;
    margin: 1.5rem auto;
}

@mixin wrapper() {
    > .mat-toolbar {
        border-radius: 8px 8px 0px 0px;
    }

    > .mat-card {
        border-radius: 0px 0px 8px 8px;
    }
}