$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

$color-primary: #2b5eff;
$color-secondary: #ccc;
$color-error: red;
$color-text: #333;
$color-text-light: #cec;
$color-disabled: #ececec;

$primary-color: #e07a5f;
$secondary-color: #81b29a;
